Phone Tablet Code/PhoneApp1/Service References/ServiceReference2/Myservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddFeedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fdata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFeedbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFeedbackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddFeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:AddFeedback" />
  </wsdl:message>
  <wsdl:message name="AddFeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:AddFeedbackResponse" />
  </wsdl:message>
  <wsdl:portType name="MyServiceClassSoap">
    <wsdl:operation name="AddFeedback">
      <wsdl:input message="tns:AddFeedbackSoapIn" />
      <wsdl:output message="tns:AddFeedbackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyServiceClassSoap" type="tns:MyServiceClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFeedback">
      <soap:operation soapAction="http://tempuri.org/AddFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyServiceClassSoap12" type="tns:MyServiceClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFeedback">
      <soap12:operation soapAction="http://tempuri.org/AddFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyServiceClass">
    <wsdl:port name="MyServiceClassSoap" binding="tns:MyServiceClassSoap">
      <soap:address location="http://mobileservices.nirvanaspaandsalon.com/Myservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MyServiceClassSoap12" binding="tns:MyServiceClassSoap12">
      <soap12:address location="http://mobileservices.nirvanaspaandsalon.com/Myservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>